<h1>Enter your stock</h1>

<%= form_for @stock, :url => {action: 'create'} do |f|%>
  <%= f.label :stock_name %>
	<%= f.text_field :stock_name %>
	<%= f.label :val_1 %>
	<%= f.number_field :val_1 %>
	<%= f.label :val_2 %>
	<%= f.number_field :val_2 %>
	<%= f.label :val_3 %>
	<%= f.number_field :val_3 %>
	<%= f.submit%>
<% end %>

<!-- <table class="table table-striped table-inline">
	<tr>
		<th> # </th>
	</tr>
	<%for number in 1..@stocks.count %>
		<tr>
			<td><%=number%></td>
		</tr>
	<% end %>
</table> -->
<% @stocks.each do |stock|%>
	<% if stock.stock_name != nil%>
		<table class="table table-striped table-inline">		
			<tr>
				<th><%= stock.stock_name %></th>
			</tr> 
			<tr>
				<td><%= stock.val_1 %></td>
			</tr>
			<tr>
				<td><%= stock.val_2 %></td>
			</tr>
			<tr>
				<td><%= stock.val_3 %></td>
			</tr>
		</table>
	<% end %>
<%end%>